* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
    height: 600px;
    position: relative;
}

.box {
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    /* krn ukuran box 100x100 px, jd maksimum perpindahannya 700x500 px */
}